---
layout: default
---

<div class="home">
    
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <p><img src="{{ post.featured-img | relative_url }}"></p>     

        <h2>          
          <a class="category" href="techBlog/category/{{ post.category }}"> {{ post.categories }}</a>
        </h2>     

        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        
        <div class="below-image">
            <p class="intro"> {{ post.introduction }} </p>

            <p class="page-link"><a href="{{ post.url | relative_url }}">CONTINUE READING&#8594;</a></p>
            <hr>
        </div>
      </li>
    {% endfor %}
  </ul>

  

</div>
